<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key ="Color" value ="Red"/>
		<add key = "FirstName" value ="Sabrina"/>
		<add key ="LastName" value ="Carette"/>
		<add key ="path" value ="c:\Temp\Test.txt"/>
		<add key ="path1" value ="c:\Temp\TestFileConfig.txt"/>
		<add key ="businesspath" value ="c:\Temp\NLayer.txt"/>
	</appSettings>
</configuration>